{{define "title"}}About{{ end }}
{{define "main"}}
<h2>About</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, rem
  tempore! Odit facilis officiis eos sint dolor dicta illum quibusdam aliquid
  praesentium, repellat voluptates cum ut necessitatibus similique quis quae!
</p>
{{ end }}
